body {
  background-color: black;
}

.height-wrap {
  height: 400px;
}

.width-wrap {
  width: 135px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.rbt-input-main  {
  width: 25rem !important;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
}