@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ringift";
    src: local("Ringift"), url("./assets/ringift.ttf");
}

@font-face {
    font-family: "Neogram";
    src: local("Neogram")url("./assets/NeoGramTrial-Medium-BF63eaf5cdc966a.otf");
}

